@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application gives investment advise for accounts utilizing a rebalancing investment strategy.</p>
    <p>Just enter the number of stock holdings in your account, each stock price, your holdings of each stock, and the amount you plan to invest, and the investor helper will advise how many shares of each stock to buy to best rebalance your account.</p>
</div>
